<td class="deploy-unit-instance-agent-name">{{agentName}}</td>
<td>
	<a href="test" data-bypass="1" class="select-version">{{version}}</a>
	({{branch}})
	{{#if deployInfo}}
		<i class="icon-arrow-right icon-white"	/>
		<a href="test" data-bypass="1" class="select-version">{{deployInfo.version}}</a>
		({{deployInfo.branch}})
	{{/if}}
</td>
<td style="text-align: center">
	<a href="deploy-log" data-bypass="1" class="deploy-log-link status-{{status}}">
		{{status}}
	</a>
</td>
<td style="width: 35px; text-align:center;">
	{{#if loadBalancerEnabled}}
		<button class="btn btn-success btn-loadbalancer"><i class="icon-share2" /></button>
	{{/if}}
	{{#ifEqFalse loadBalancerEnabled}}
		<button class="btn btn-danger btn-loadbalancer"><i class="icon-share2" /></button>
	{{/ifEqFalse}}
	{{#ifUndefined loadBalancerEnabled}}
		<button class="btn btn-info btn-loadbalancer"><i class="icon-share2" /></button>
	{{/ifUndefined}}
</td>
<td>
	<button class="btn-hover btn-select {{#if selected}}selected{{/if}}">
			<i class="icon-white icon-ok"></i>
		</button>
	</li>
</td>
<td style="width: 100%">
	{{#if deployInfo}}
		<button class="btn-hover btn-deploy" data-loading-text="Deploying...">
			<i class="icon-white icon-upload"></i> Deploy
		</button>
	{{/if}}
	{{#if showSpinner}}
		<img src='/img/loading.gif' />
	{{/if}}

	{{#if info.verifying}}
		<a href="verify-log" data-bypass="1" class="verify-log-link">Verifying: </a>

		{{#each info.steps}}
			{{#if completed}}
				<i class="icon-ok" />
			{{else}}
				{{#if pass}}
					<div class="verify-step btn-success" title="{{message}}" />
				{{else}}
					<div class="verify-step btn-danger" title="{{message}}" />
				{{/if}}
			{{/if}}
		{{/each}}
	{{/if}}
</td>
<td>
	{{{info}}}
</td>

