<td>{{name}}</td>

{{#if loadBalancerState}}
	<td>{{loadBalancerState.serverId}}</td>
	<td>{{loadBalancerState.connectionCount}}</td>

	<td style="text-align: center">
		{{#if loadBalancerState.enabled}}
			<button class="btn btn-success btn-loadbalancer"><i class="glyphicon icon-share2" /></button>
		{{else}}
			<button class="btn btn-danger btn-loadbalancer"><i class="glyphicon icon-share2" /></button>
		{{/if}}
	</td>

	<td>
		{{#if action}}
			{{#if loadBalancerState.enabled}}
				<button class="btn btn-danger btn-disable">Disable</button>
			{{else}}
				<button class="btn btn-success btn-enable">Enable</button>
			{{/if}}

			<button class="btn btn-info btn-clear" style="margin-left: 10px">Clear</button>
		{{else}}

			{{#if loadBalancerState.enabled}}
				<button class="btn btn-info btn-disable">Disable</button>
			{{else}}
				<button class="btn btn-info btn-enable">Enable</button>
			{{/if}}

		{{/if}}
	</td>

{{else}}
	<td>NA</td>
	<td>NA</td>
	<td>NA</td>
	<td></td>
{{/if}}



