doctype 5
html(lang="en")
	head
		title Asimov Deploy

		link(rel='icon', href='/img/logo.png', type='image/png')

		link(type='text/css', href='/css/bootstrap.css', rel='stylesheet')
		link(type='text/css', href='/css/asimov.css', rel='stylesheet')

		script(data-main='/app/config', src='/libs/require.js')

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container-fluid
					a.brand(href='#')
						img(src='/img/full_logo.png')
					.nav-collapse
						ul.nav
							li
								a(href='dashboard') Dashboard
							li
								a(href='loadbalancer') Load Balancer
							li
								a(href='loadbalancer/settings') Settings

							li
								a(href='agents') Agents

						ul.nav.pull-right#instance-selection
							li.divider-vertical
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown') #{instanceName}
									b.caret(style='margin-left: 5px')
								ul.dropdown-menu
									each item in instances
										li
											a(href='http://#{hostName}:#{item.port}') #{item.name}
		#main-region

		.live-log-wrapper
			.live-log-header
				span.pull-left Live Log
				a.pull-left.btn-live-log-filter(href="#", title="show/hide filters", data-bypass=1)
					i.icon-filter.icon-white
				ul.live-log-filter-selection.pull-left(style='display: none')
				#asimov-version.pull-right
					| v#{version}
				.clearfix
			.live-log

		.modal.hide#asimov-modal

		input(type="hidden", id="init-data", value="#{JSON.stringify(initData)}")