<td>{{name}}</td>
<td>{{groups}}</td>
<td>{{version}}</td>
<td>{{configVersion}}</td>
<td>
	{{#if dead}}
		<button class="btn btn-danger"><i class="icon-heart icon-white" /></button>
	{{else}}
		<button class="btn btn-success"><i class="icon-heart icon-white" /></button>
	{{/if}}
</td>