<td>{{name}}</td>
<td>{{group}}</td>
<td>{{version}}</td>
<td>{{configVersion}}</td>
<td>
	{{#if dead}}
		<button class="btn btn-danger"><i class="glyphicon-heart glyphicon-white" /></button>
	{{else}}
		<button class="btn btn-success"><i class="glyphicon-heart glyphicon-white" /></button>
	{{/if}}
</td>