<td style="white-space:nowrap;">{{timestamp}}</td>
<td style="white-space:nowrap;">{{username}}</td>
<td>{{version}}</td>
<td>{{branch}}</td>
<td>{{commit}}</td>
<td class="deploy-status-{{status}}">{{status}}</td>