<td class="deploy-unit-instance-agent-name">
	{{#if url}}
		<a href="{{url}}" target="_blank"><i class="glyphicon glyphicon-share glyphicon-white"/></a>
	{{/if}}
	{{agentName}}
</td>
<td>
	{{#if deployInfo}}
		<a href="test" data-bypass="1" class="select-version">{{deployInfo.version}}</a>
		<span>({{deployInfo.branch}})</span>
	{{else}}
		<a href="test" data-bypass="1" class="select-version">{{version}}</a>
		<span>({{branch}})</span>
	{{/if}}
</td>
<td style="text-align: center">
	<a href="deploy-log" data-bypass="1" class="deploy-log-link status-{{status}}">
		{{status}}
	</a>
</td>
<td style="width: 35px; text-align:center;">
	{{#if loadBalancerState}}
		{{#if showAsChanging}}
			<button class="btn btn-changing btn-loadbalancer" title="Connections: {{loadBalancerState.connectionCount}}"><i class="glyphicon icon-share2" /></button>
		{{else}}
			{{#if loadBalancerState.enabled}}
				<button class="btn btn-success btn-loadbalancer" title="Connections: {{loadBalancerState.connectionCount}}"><i class="glyphicon icon-share2" /></button>
			{{else}}
				<button class="btn btn-danger btn-loadbalancer" title="Connections: {{loadBalancerState.connectionCount}}"><i class="glyphicon icon-share2" /></button>
			{{/if}}
		{{/if}}
	{{else}}
		<button class="btn btn-info btn-loadbalancer"><i class="glyphicon icon-share2" /></button>
	{{/if}}
</td>
<td>
	<button class="btn-hover btn-select {{#if selected}}selected{{/if}}">
			<i class="glyphicon glyphicon-white glyphicon-ok"></i>
		</button>
	</li>
</td>
<td style="width: 100%; border-left: none">
	{{#if showSpinner}}
		<img src='/img/loading.gif' />
	{{/if}}

	{{#if verifySteps}}
		<div class="unit-instance-verify-glimps">
			<a href="verify-log" data-bypass="1" class="verify-log-link">Verifying: </a>

			{{#each verifySteps}}
				{{#if test}}
					{{#if test.pass}}
						<div class="verify-step btn-success" title="{{test.message}}" />
					{{else}}
						<div class="verify-step btn-danger" title="{{test.message}}" />
					{{/if}}
				{{/if}}
				{{#if completed}}
					<i class="glyphicon glyphicon-ok glyphicon-white" />
				{{/if}}
				{{#if report}}
					<span class="verify-report"><a href="{{report.url}}" target="_blank">{{report.title}}</a></span>
				{{/if}}
			{{/each}}
		</div>
	{{/if}}
</td>
<td style="border-left: none;">
	{{{lastDeployed}}}
</td>


