	<div id="deploy-modal">
	<div class="modal-header">
	 <button type="button" class="close btn-close">×</button>
	 <h3>Confirm</h3>
	</div>
	<div class="modal-body">
	  <div class="deploy-info-wrapper">
	  	 <h5>Info</h5>
	    <div class="deploy-info">
	    	<label>Deploy unit:</label>
	    	<span>{{unitName}}</span>
	    </div>
	    <div class="deploy-info">
	    	<label>Version:</label>
	    	<span>{{version}}</span>
	    </div>
	    <div class="deploy-info">
	    	<label>Agent:</label>
	    	<span>{{agentName}}</span>
	    </div>
	    {{#if parameters}}
	    	<div class="deploy-parameters">
	    		<h5>Parameters</h5>
	    		{{#each parameters}}
	    			{{#ifTypeText type}}
	    				<div class="input-prepend">
						  <span class="add-on">{{name}}</span>
						  <input type="text" class="input-xlarge" id="deploy-param-{{name}}" spellcheck="false" value="{{default}}" />
						</div>
	    			{{/ifTypeText}}
	    			{{#ifTypePassword type}}
	    				<div class="input-prepend">
						  <span class="add-on">{{name}}</span>
						  <input type="password" class="input-xlarge" id="deploy-param-{{name}}" value="{{default}}" />
						</div>
	    			{{/ifTypePassword}}
	    		{{/each}}
	    	</div>
	    {{/if}}
	</div>
	</div>
	<div class="modal-footer" style="text-align: center">
		<button class="btn btn-danger btn-mega btn-deploy">Deploy</button>
	</div>
</div>