<td>
	{{#if url}}
		<a href="{{url}}" target="_blank">{{unitName}}</a>
	{{else}}
		{{unitName}}
	{{/if}}
</td>
<td>{{agentName}}</td>
<td>
	<a href="test" data-bypass="1" class="select-version">{{version}}</a>
</td>
<td>
	{{branch}}
</td>
<td style="text-align: center">
	<a href="deploy-log" data-bypass="1" class="deploy-log-link status-{{status}}">
		{{status}}
	</a>
</td>
<td style="text-align: center">
	{{#if loadBalancerEnabled}}
		<button class="btn btn-success btn-loadbalancer"><i class="icon-share2" /></button>
	{{/if}}
	{{#ifEqFalse loadBalancerEnabled}}
		<button class="btn btn-danger btn-loadbalancer"><i class="icon-share2" /></button>
	{{/ifEqFalse}}
	{{#ifUndefined loadBalancerEnabled}}
		<button class="btn btn-info btn-loadbalancer"><i class="icon-share2" /></button>
	{{/ifUndefined}}
</td>
<td style="text-align: center;">
	{{#if enableDeploy}}
		<button class="btn btn-danger btn-deploy btn-small" data-loading-text="Deploying...">
			<i class="icon-white icon-upload"></i> Deploy
	 	</button>
	{{else}}
		{{#if actions}}
			<div class="btn-group unit-actions-btn-group">
				<button class="btn btn-info unit-action" data-action-name="{{actions.[0]}}">{{actions.[0]}}</button>
				<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu unit-actions-dropdown">
					{{#each actions}}
						<li>
							<a href="action" class="unit-action" data-bypass="1" data-action-name="{{this}}">{{this}}</>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
	{{/if}}
</td>
<td>
	{{#if showSpinner}}
		<img src='/img/loading.gif' />
	{{/if}}

	{{#if info.verifying}}
		<a href="verify-log" data-bypass="1" class="verify-log-link">Verifying: </a>

		{{#each info.steps}}
			{{#if completed}}
				<i class="icon-ok" />
			{{else}}
				{{#if pass}}
					<div class="verify-step btn-success" title="{{message}}" />
				{{else}}
					<div class="verify-step btn-danger" title="{{message}}" />
				{{/if}}
			{{/if}}
		{{/each}}
	{{else}}
		{{{info}}}
	{{/if}}
</td>

