doctype 5
html(lang="en")
  head
    title Asimov Deploy

    link(rel='icon', href='/img/logo.png', type='image/png')

    link(type='text/css', href='/css/bootstrap.css', rel='stylesheet')
    link(type='text/css', href='/css/asimov.css', rel='stylesheet')

    script(src='http://#{hostName}:#{port}/socket.io/socket.io.js')
    script(data-main='/app/config', src='/libs/require.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href='#')
            img(src='/img/full_logo.png')
          .nav-collapse
            ul.nav
              li
                a(href='dashboard') Dashboard
              li
                a(href='loadbalancer') Load Balancer
              li
                a(href='loadbalancer/settings') Settings

              li
                a(href='agents') Agents

            ul.nav.pull-right#instance-selection
              li.divider-vertical
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') #{instanceName}
                  b.caret(style='margin-left: 5px')
                ul.dropdown-menu
                  each item in instances
                    li
                      a(href='http://#{hostName}:#{item.port}') #{item.name}
    #main-region

    .agent-log-wrapper
      .agent-log-header
        span.pull-left.live-log-header Live Log
        a.pull-left.btn.btn-mini.btn-info.btn-live-log-filter
          i.icon-filter.icon-white
        .pull-left.ul.live-log-filter-selection
        .clearfix
      .agent-log-divider
      .agent-log



    #asimov-version
       | v#{version}

    .modal.hide#asimov-modal

